# Byte-compiled / optimized / DLL files`n__pycache__/`n*.py[cod]`n*$py.class`n`n# Distribution / packaging`nbuild/`ndist/`n*.egg-info/`n`n# Environments`n.env`n.venv`nvenv/`n`n# IDEs`n.vscode/`n.idea/`n`n# OS files`n.DS_Store`nThumbs.db
